@model IEnumerable<LivrariaControleEmprestimo.DATA.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CliCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliBairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliTelefoneFixo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliBairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliTelefoneCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliTelefoneFixo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
